.flex-procard {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .flex-procard > h1 {
    margin-top: 0.4rem;
    font-weight: bold;
  }
  .flex-procard > h3 {
    margin-top: 1rem;
    font-weight: bold;
  }
  .flex-procard p {
    margin-top: 0.4rem;
    font-weight: bold;
    color: rgb(77, 67, 67);
  }
  .flex-procard img {
    order: -1;
    align-self: center;
    margin-bottom: 0.5rem;
    max-width: 60%;
    height: auto;
    vertical-align: middle;
    color: #000;
    height: 200px;
    opacity: 0.9;
    margin: auto;
  }
  
  .flex-button {
    background: transparent;
    border: none;
    border-radius: 2px;
    color: rgb(0,0,0);
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .flex-button:hover {
    background: rgb(49, 47, 46);
    color: white;
    padding: 0.5rem;
    border: 1px solid rgb(224, 87, 24);
  }
  