.resume-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-flow: row;
    margin: 2rem 0;
  }

  .flex-resume {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-evenly;
    justify-items: center;
    padding: 1rem;
    
  }

  .grid-resume  {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    margin: 2rem 0;
  }

 .cell-8 {
    grid-column: span 6;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-evenly;
    justify-items: center;
    padding: 1rem;
    color: rgb(0, 0, 0);
    
  }
  
  .cell-4 {
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-evenly;
    justify-items: center;
    padding: 0 1rem;
    color: rgb(2, 10, 0);
  }